/* custom */
.gfnt {
  font-family: 'Poppins', sans-serif;
}

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 7px;
  background-color: #1a1919;
}

::-webkit-scrollbar-thumb {
  background-color: #45a049;
  border-radius: 50px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #2d2b2b;
  transition: 0.4s ease;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #232121e3;
  /* Adjust the background color as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow */
  z-index: 1000;
  padding: 20px 30px;
  transition: 0.4s ease;
}

.logo {
  width: 90px;
  /* Adjust the width as needed */
}

nav {
  display: flex;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 48%;
  /* Adjust as needed based on your design */
}

.button-ul.active-link {
  color: #45a049;
  /* Change the color to the desired active color */

}

.button-ul {
  position: relative;
  margin: 0 10px;
  padding: 16px 16px;
  font-size: 16px;
  font-weight: bolder;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

.button-ul:hover::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #45a049;
  animation: underline 0.3s ease-out;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.nav-line {
  border: none;
  border-left: 2px solid #a0a0a0;
  height: 30px;
  /* Adjust the height as needed */
  margin-left: 8px;
  /* Adjust the margin as needed */
}

.social-logo {
  position: relative;
  padding: 16px 10px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.social-logo:hover {
  color: #45a049 !important;
}

.ulinee {
  border: 2px solid #45a049;
  width: 80px;
  /* Adjust the height as needed */
  margin-top: 20px;
}

.divpad {
  padding: 60px;
}

.btnlinks {
  cursor: pointer;
  color: #fff;

}

.btnlinks:hover {
  color: #45a049;
}

/* Mobile View sidebar */

/* Hamburger icon styles */
.hamburger-icon {
  display: none;
  /* Hide by default on larger screens */
  cursor: pointer;
}

.line {
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.open .line:first-child {
  transform: rotate(-50deg) translate(-7px, 6px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:last-child {
  transform: rotate(50deg) translate(-7px, -6px);
}

/* Sidebar styles */
.sidebar {
  display: none;
  /* Hide by default on larger screens */
}

/* Show hamburger icon on smaller screens */
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #2d2b2b;
    transition: 0.4s ease;
  }

  .hamburger-icon {
    display: block;
  }

  .line {
    background-color: #fff;
  }

  .nav-line {
    display: none;
    /* Hide horizontal line on smaller screens */
  }

  /* Hide the main content when the sidebar is open */
  .gfnt {
    overflow: hidden;
  }

  /* Show sidebar on smaller screens */
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #000000e3;
    z-index: 1;
    padding-top: 60px;
    transition: 0.5s;
    overflow-x: hidden;
  }

  .sidebar a {
    padding: 25px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #45a049;
    padding-left: 40px;
  }

  /* Open sidebar on smaller screens */
  .sidebar.open {
    left: 0;
  }

  .mobhde {
    display: none;
  }

  .social-logo {
    position: relative;
    padding: 20px 15px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
    display: inline-block;
    text-align: center;
    margin: 15px 15px;
  }

  .social-logo:hover {
    color: #45a049 !important;
  }

  .logoend {
    margin-left: auto;
  }

  .mgxy {
    margin: 30px;
  }

  .divpad {
    padding: 30px;
  }

  .center-content {
    padding: 0px 13px;
  }

  .introhde {
    display: none;
  }

  .nmehde {
    display: none;
  }

  .project {
    width: 100%;
    /* Adjust as needed based on your design */
  }

  .colored-circle {
    position: relative !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
    background-color: #45a0494f !important;
    margin-left: 119px !important;
    margin-top: 135px !important;
    display: inline-block !important;
    transition: 0.4s ease !important;

  }

  .image-container {
    position: relative !important;
    width: 300px !important;
    /* Adjust the width as needed */
    height: 600px !important;
    /* Adjust the height as needed */
    overflow: hidden !important;
    /* Ensure the image stays within the container */
    transition: 0.4s ease !important;

  }

  .image {
    width: 500px !important;
    /* Adjust the width as needed */
    height: auto !important;
    /* Maintain aspect ratio */
    position: absolute !important;
    top: 50% !important;
    left: 77% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 0 !important;
    /* Place the image above the circle */
    transition: 0.4s ease !important;

  }

  .bigfn {
    font-size: 40px !important;
    font-weight: bolder;
  }

  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Adjust this if needed */
    position: absolute !important;
    top: 10% !important;
    left: 7% !important;
    z-index: 1 !important;
    transition: 0.4s ease !important;
  }
}

main {
  background-color: #2d2b2b;
  width: 100%;
}

.txtclr {
  color: white;
  text-align: left;
}

.txtclrgrn {
  color: #45a049;
  text-align: left;
}

.period {
  color: #45a049;
  font-size: 60px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.txtanimate {
  animation: slideIn 1s ease-in-out;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Adjust this if needed */
}


.btn-container {
  text-align: left;
}

.btntrans {
  border: 2px solid #45a049;
  padding: 13px 20px;
  color: #45a049;
  background-color: transparent;
  transition: 0.3s ease;
  font-weight: 550;
  letter-spacing: 1px;
  font-size: 15px;
  text-decoration: none;
}

.btntrans:hover {
  border: 2px solid #45a049;
  color: black;
  background-color: #45a049;
}

.center-container {
  display: flex;
  align-items: center;
}

.colored-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Set the height of the container as needed */
}

.colored-circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #45a0494f;
  display: inline-block;
}

.image-container {
  position: relative;
  width: 350px;
  /* Adjust the width as needed */
  height: 600px;
  /* Adjust the height as needed */
  overflow: hidden;
  /* Ensure the image stays within the container */
}

.image {
  width: 500px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Place the image above the circle */
}

.aboutsec {
  background-color: #262626;
  padding: 70px 0px 70px 0px;
}

.abtimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.abttxt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.worksec {
  background-color: #2d2b2b;
  padding: 70px 0px 70px 0px;
}

.projectImg {
  width: 100%;
  border-radius: 5px;
}

.skillsec {
  background-color: #262626;
  padding: 70px 0px 70px 0px;
}

.skillImg {
  width: 35px;
  margin: 0px 10px;
}

.hov:hover h1,
.hov:hover img {
  transform: translateY(-5px);
  /* Adjust the value as needed */
  transition: transform 0.3s ease-out;
  /* Adjust the transition duration and timing function as needed */
}

.hov h1,
.hov img {
  transition: transform 0.3s ease-out;
  /* Include this transition for smooth animation even when not hovered */
}

.d1-flex {
  display: flex !important;
  justify-content: center;
}

.bigfn {
  font-size: 50px;
  font-weight: bolder;
}

.spclfn {
  font-family: 'Inconsolata', Consolas, monospace;
}

.spclfn1 {
  font-family: 'Poppins', sans-serif;
}

.contactsec {
  background: url('img/contact.webp') center/cover no-repeat;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.contactbtn {
  background-color: white;
  color: black;
  padding: 22px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 490;
  width: 100%;
  transition: 0.3s ease;
}

.contactbtn:hover {
  background-color: #45a049;
}

input,
textarea {
  width: 100%;
  padding: 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #45a049;
  background-color: transparent;
  transition: 0.3s ease;
}

input::placeholder,
textarea::placeholder {
  color: white;
  /* Change the placeholder text color as needed */
}

input:focus,
textarea:focus {
  outline: none;
  /* Remove default focus outline */
  border-color: #4CAF50;
  /* Change border color on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  /* Add a subtle box shadow on focus */
  background-color: #4CAF50;
}

.inptxt {
  margin: 8px 0px;
}

footer {
  background-color: #262626;
  padding: 30px;
}

.logofoot {
  width: 80px;
}

.social-logo-foot {
  position: relative;
  padding: 16px 10px;
  cursor: pointer;
  color: #fff;
  font-size: 1.4em;
  transition: color 0.3s ease;
}

.social-logo-foot:hover {
  color: #45a049 !important;
}